body{ 
    background-image: url(./images/background.png);
    background-size: 100%;
    background-repeat: repeat-y;
}
header{
    display: flex;
    justify-content: space-between;
}
h1, h2 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 20px;
    width: fit-content;
}

.pfp-container > img{
    width: 150px;
    border-radius: 100%;
}

.skills{

}